.blogs-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.blogs-header {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.blogs-header .custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.blogs-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.blogs-header .home-link a {
  color: var(--color-foreground);
}

.blogs-header .home-link a:hover {
  text-decoration: none;
}

.blogs-header .logo-medium {
  display: none;
}

.navbar-items {
  margin-left: 12%;
  display: flex;
  gap: 15px;
}

.logo-medium {
  line-height: 1;
  font-size: 2.5rem;
}

.text-team-yellow {
  color: rgb(228, 228, 38);
}
.text-team-blue {
  color: rgb(0, 42, 255);
}
.text-team-red {
  color: rgb(180, 32, 32);
}

.blogs-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.user-info {
  margin-left: auto;
}

.blogs-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.blogs-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}

.blogs-main .custom-container {
  display: flex;
  gap: 1rem;
}

.blogs-list {
  max-width: 25rem;
}

.blogs-outlet {
  flex: 1;
}

.blogs-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.blog-item {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.blog {
  display: flex;
  min-height: 50vh;
  justify-content: space-around;
  flex-direction: column;
}

.blog-actions {
  display: flex;
  gap: 10px;
  width: fit-content;
}

@media print, (min-width: 640px) {
  .blogs-header .logo {
    display: none;
  }

  .blogs-header .logo-medium {
    display: block;
  }

  .logo-medium {
    line-height: 1;
    font-size: 2.5rem;
  }

  .logo-rotator {
    line-height: 1;
  }

  .blogs-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .blogs-main .custom-container {
    flex-direction: column;
  }
}
